In [1]:
import pandas as pd
from pathlib import Path
import pandas as pd
import numpy as np
import plotly.express as px
import plotly.graph_objects as go
import matplotlib.pyplot as plt
%matplotlib inline
import datetime

In [2]:
file_path = "./Resources/historical_emissions.csv"
emissions_df = pd.read_csv(file_path)
emissions_df

,Country,Data source,Sector,Gas,Unit,2018,2017,2016,2015,2014,...,1999,1998,1997,1996,1995,1994,1993,1992,1991,1990
0,World,CAIT,Total including LUCF,CO2,MtCO₂e,36441.55,35588.70,35160.60,34521.91,34558.59,...,24957.30,24895.32,25292.92,24214.92,23890.22,23260.29,23124.00,22988.29,23056.40,22849.92
1,China,CAIT,Total including LUCF,CO2,MtCO₂e,9663.36,9367.67,9164.21,9120.27,9184.77,...,2799.84,2882.75,2779.27,2715.50,2735.48,2414.50,2294.12,2068.77,1952.78,1823.96
2,United States,CAIT,Total including LUCF,CO2,MtCO₂e,4749.57,4581.90,4656.84,4563.52,4683.35,...,5191.66,5172.06,5129.29,4864.46,4708.31,4654.52,4581.76,4461.62,4389.50,4426.40
3,European Union (27),CAIT,Total including LUCF,CO2,MtCO₂e,2636.99,2692.12,2669.54,2321.61,2263.78,...,3079.46,3134.03,3142.23,3210.93,3113.68,3060.09,3072.40,3133.06,3247.48,3286.44
4,India,CAIT,Total including LUCF,CO2,MtCO₂e,2400.25,2267.16,2149.01,2085.38,2072.03,...,683.00,618.73,600.38,555.60,519.98,466.79,431.31,409.09,386.17,341.32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Nauru,CAIT,Total including LUCF,CO2,MtCO₂e,0.07,0.07,0.06,0.05,0.05,...,0.09,0.10,0.10,0.10,0.11,0.11,0.11,0.12,0.13,0.13
191,Tuvalu,CAIT,Total including LUCF,CO2,MtCO₂e,0.01,0.01,0.01,0.01,0.01,...,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.00,0.00
192,Niue,CAIT,Total including LUCF,CO2,MtCO₂e,0.00,0.00,0.00,0.00,0.00,...,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01
193,Fiji,CAIT,Total including LUCF,CO2,MtCO₂e,-0.65,-0.73,-0.81,-1.03,-1.24,...,-1.74,-1.76,-1.74,-1.72,-1.78,-1.79,-1.79,-1.78,-1.81,-1.81
194,Ghana,CAIT,Total including LUCF,CO2,MtCO₂e,-8.82,-10.15,-10.82,44.53,43.77,...,16.46,15.98,14.18,13.98,13.60,13.34,13.07,12.96,12.44,12.67

In [3]:
emissions_df.info()
# Make a copy of the data for future use
copy = emissions_df.copy()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 34 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Country      195 non-null    object
 1   Data source  195 non-null    object
 2   Sector       195 non-null    object
 3   Gas          195 non-null    object
 4   Unit         195 non-null    object
 5   2018         195 non-null    float64
 6   2017         195 non-null    float64
 7   2016         195 non-null    float64
 8   2015         195 non-null    float64
 9   2014         195 non-null    float64
 10  2013         195 non-null    float64
 11  2012         195 non-null    float64
 12  2011         195 non-null    float64
 13  2010         195 non-null    float64
 14  2009         195 non-null    float64
 15  2008         195 non-null    float64
 16  2007         195 non-null    float64
 17  2006         195 non-null    float64
 18  2005         195 non-null    float64
 19  2004         195 non-null    float64
 20  2003         195 non-null    float64
 21  2002         195 non-null    float64
 22  2001         195 non-null    float64
 23  2000         195 non-null    float64
 24  1999         195 non-null    float64
 25  1998         195 non-null    float64
 26  1997         195 non-null    float64
 27  1996         195 non-null    float64
 28  1995         195 non-null    float64
 29  1994         195 non-null    float64
 30  1993         195 non-null    float64
 31  1992         195 non-null    float64
 32  1991         195 non-null    float64
 33  1990         194 non-null    float64
dtypes: float64(29), object(5)
memory usage: 51.9+ KB

In [4]:
emissions_df.describe()

,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,...,1999,1998,1997,1996,1995,1994,1993,1992,1991,1990
count,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,...,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,194.000000
mean,378.715949,370.386564,366.166564,358.048769,358.536513,356.006513,350.330000,346.323846,349.297897,333.351897,...,266.157590,266.078359,270.424872,259.915077,256.231436,249.665949,248.475744,247.420769,248.644462,248.028402
std,2722.060347,2656.756306,2624.062599,2578.461926,2582.937989,2559.773990,2510.957527,2481.296970,2485.033349,2363.491694,...,1846.768138,1843.118898,1870.838154,1791.653745,1766.707757,1719.915887,1709.447361,1698.507027,1703.334650,1693.633278
min,-8.820000,-10.150000,-10.820000,-212.220000,-213.710000,-213.110000,-203.390000,-201.170000,-6.140000,-6.450000,...,-27.250000,-27.510000,-32.400000,-38.300000,-41.950000,-45.540000,-48.040000,-52.980000,-53.980000,-53.880000
25%,4.800000,4.320000,4.395000,3.375000,3.165000,3.035000,3.135000,2.880000,3.350000,3.620000,...,2.700000,2.320000,2.230000,2.275000,2.110000,2.220000,2.175000,2.260000,2.775000,2.590000
50%,21.920000,22.310000,22.140000,18.760000,18.770000,18.700000,19.680000,19.450000,20.010000,19.240000,...,15.450000,15.510000,14.570000,14.170000,14.130000,13.830000,14.640000,14.120000,14.610000,15.295000
75%,89.770000,88.660000,87.135000,77.345000,76.875000,74.245000,76.515000,74.805000,72.515000,69.005000,...,64.065000,62.860000,64.715000,67.710000,62.015000,61.870000,59.820000,59.120000,63.080000,61.997500
max,36441.550000,35588.700000,35160.600000,34521.910000,34558.590000,34217.180000,33620.340000,33226.010000,33328.380000,31769.890000,...,24957.300000,24895.320000,25292.920000,24214.920000,23890.220000,23260.290000,23124.000000,22988.290000,23056.400000,22849.920000

In [5]:
 # drop "Data source", "Sector", "Unit", "Gas"columns
emissions_df.drop(["Data source", "Sector", "Unit", "Gas"], axis=1, inplace=True)

In [6]:
# Eliminate rows for the world and European Union
emissions_df = emissions_df[emissions_df["Country"] != "World"]
emissions_df= emissions_df[emissions_df["Country"] != "European Union (27)"]

In [7]:
emissions_df.head(20)

,Country,2018,2017,2016,2015,2014,2013,2012,2011,2010,...,1999,1998,1997,1996,1995,1994,1993,1992,1991,1990
1,China,9663.36,9367.67,9164.21,9120.27,9184.77,9226.51,8823.05,8568.09,8138.34,...,2799.84,2882.75,2779.27,2715.50,2735.48,2414.50,2294.12,2068.77,1952.78,1823.96
2,United States,4749.57,4581.90,4656.84,4563.52,4683.35,4670.34,4531.16,4753.12,4990.96,...,5191.66,5172.06,5129.29,4864.46,4708.31,4654.52,4581.76,4461.62,4389.50,4426.40
4,India,2400.25,2267.16,2149.01,2085.38,2072.03,1901.98,1843.74,1695.97,1670.29,...,683.00,618.73,600.38,555.60,519.98,466.79,431.31,409.09,386.17,341.32
5,Indonesia,1269.55,1081.11,1068.10,1574.76,1539.23,1250.27,1303.87,1285.69,773.92,...,849.42,907.96,1484.56,772.38,909.21,881.31,869.88,855.30,846.23,832.39
6,Japan,1074.08,1119.86,1139.33,1131.74,1170.11,1211.27,1202.66,1162.67,1057.96,...,1090.14,1055.50,1098.26,1110.51,1097.10,1087.22,1033.99,1041.79,1029.99,1016.89
7,Russia,1049.05,998.24,971.87,870.02,919.33,936.52,979.37,974.12,814.11,...,1081.87,1043.96,1052.50,1159.83,1190.39,1238.41,1447.33,1630.98,1766.89,1790.34
8,Brazil,812.02,834.14,826.21,741.96,768.77,744.85,713.75,679.10,1498.84,...,1339.10,1329.24,1319.99,1301.37,1279.97,1261.19,1253.64,1247.13,1243.65,1236.73
9,Germany,680.06,702.73,717.68,713.08,708.25,748.42,730.81,717.17,754.58,...,782.33,812.12,819.93,851.78,822.15,824.87,836.08,841.83,881.44,904.38
10,Iran,629.35,620.83,605.81,602.23,610.67,592.48,571.12,561.73,506.63,...,306.00,272.42,271.00,259.83,251.99,240.77,210.86,212.99,197.26,158.83
11,Canada,609.67,597.40,585.58,693.99,697.02,691.53,682.31,682.88,836.28,...,560.63,552.10,543.72,528.32,514.62,503.69,487.56,490.88,477.81,483.99
12,Democratic Republic of the Congo,603.57,603.66,603.43,604.26,606.16,605.02,603.80,603.89,369.76,...,369.03,369.04,368.92,368.97,368.95,369.00,369.14,369.19,369.45,370.89
13,South Korea,585.07,579.56,568.98,556.05,535.54,547.18,548.50,546.83,514.14,...,358.50,323.23,388.04,366.44,341.87,310.79,284.20,253.77,231.61,206.81
14,Saudi Arabia,514.60,540.70,556.74,561.14,536.81,499.38,488.75,456.67,439.23,...,234.53,230.41,214.93,234.09,222.40,218.79,206.21,199.35,186.61,166.39
15,Mexico,486.58,486.25,493.70,486.44,472.17,483.71,494.56,494.81,402.21,...,382.78,395.43,371.54,348.39,328.84,348.29,323.14,312.07,308.41,290.01
16,South Africa,439.80,441.69,431.74,431.17,454.27,443.16,432.99,415.41,431.50,...,284.79,302.80,295.20,280.26,270.47,258.29,252.71,245.11,248.61,253.94
17,Australia,388.81,389.39,386.15,346.53,340.43,349.83,356.33,356.33,416.72,...,383.46,378.07,357.18,349.99,339.40,329.03,322.72,318.72,315.07,313.95
18,Turkey,384.32,387.25,345.94,291.92,280.97,258.50,269.21,258.05,254.16,...,175.93,176.91,176.65,168.50,151.32,136.99,138.69,132.88,126.88,122.28
19,United Kingdom,347.84,355.42,367.93,389.41,403.89,442.10,456.12,433.47,470.83,...,511.41,514.07,511.37,533.70,513.33,524.43,529.56,542.02,559.38,545.73
20,Malaysia,319.59,298.10,310.17,124.54,135.37,109.59,91.92,92.13,316.20,...,222.59,233.95,214.34,206.21,197.88,191.20,185.40,183.09,177.54,170.40
21,Italy,312.03,316.37,320.52,303.19,292.83,311.79,342.08,362.02,370.56,...,398.49,391.85,381.00,377.63,381.89,357.76,362.41,367.75,369.55,370.74

In [8]:
df= emissions_df['Country']
df.head()

1            China
2    United States
4            India
5        Indonesia
6            Japan
Name: Country, dtype: object

In [9]:
# Save in the Resources
emissions_df.to_csv(index=True)
filepath = Path('Resources/emissions.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
emissions_df.to_csv(filepath)

In [17]:
# Creates a bar chart of the top emitting countries for each year
def most_emission(emissions_df):
    
    # Set countries as index
    emissions_df = emissions_df.set_index("Country")
    
   # contains the charts to display
    item_list = []
    
    # Reverse the list so that 1990 is displayed first
    for col in emissions_df.columns.tolist()[::-1]:
        # sort df
        emissions_df = emissions_df.sort_values(col, ascending=False).head(12)
        # create the chart
        item = dict(args=[{"x" : [emissions_df.index], "y" : [emissions_df[col]] }, # Set x and y axis
                         {"title" :"Countries with the most emissions in "+ col} # Set title
                         ],
                         label=col, method="update") # label = name of the button
                                                     # method = "update" changes data and layout
        item_list.append(item)
    
    # Creates the first chart to match the first value of our menu
    firstchart = emissions_df.sort_values(emissions_df.columns.tolist()[::-1][0], ascending=False).head(12)
    
    fig = px.bar(firstchart, x=firstchart.index, y=firstchart.columns.tolist()[::-1][0],
                 color_discrete_sequence=["#de4a4a"], template="plotly_dark",
                 text_auto=True,
                 title="Countries with the most emissions in " + emissions_df.columns.tolist()[::-1][0])
    # Title
    fig.update_layout(title_x=0.5)

    # Create menu
    fig.update_layout(
            updatemenus=[
                # item list = List of charts
                dict(buttons=list(item_list),  

                 # Location of dropdown menu
                direction="down",showactive=True,x=0.005,
                xanchor="left",y=1.4,yanchor="top") ] )
    plt.savefig('Mostemission2005.png')
    return fig.show()

In [18]:
most_emission(emissions_df)

In [12]:
new_emission_df=emissions_df.transpose()
new_emission_df

,1,2,4,5,6,7,8,9,10,11,...,185,186,187,188,189,190,191,192,193,194
Country,China,United States,India,Indonesia,Japan,Russia,Brazil,Germany,Iran,Canada,...,Micronesia,Liechtenstein,Cook Islands,Kiribati,Bhutan,Nauru,Tuvalu,Niue,Fiji,Ghana
2018,9663.36,4749.57,2400.25,1269.55,1074.08,1049.05,812.02,680.06,629.35,609.67,...,0.15,0.14,0.08,0.08,0.07,0.07,0.01,0.0,-0.65,-8.82
2017,9367.67,4581.9,2267.16,1081.11,1119.86,998.24,834.14,702.73,620.83,597.4,...,0.14,0.16,0.08,0.08,0.01,0.07,0.01,0.0,-0.73,-10.15
2016,9164.21,4656.84,2149.01,1068.1,1139.33,971.87,826.21,717.68,605.81,585.58,...,0.14,0.15,0.07,0.08,-0.09,0.06,0.01,0.0,-0.81,-10.82
2015,9120.27,4563.52,2085.38,1574.76,1131.74,870.02,741.96,713.08,602.23,693.99,...,0.12,0.16,0.06,0.06,-0.35,0.05,0.01,0.0,-1.03,44.53
2014,9184.77,4683.35,2072.03,1539.23,1170.11,919.33,768.77,708.25,610.67,697.02,...,0.11,0.16,0.07,0.06,-0.38,0.05,0.01,0.0,-1.24,43.77
2013,9226.51,4670.34,1901.98,1250.27,1211.27,936.52,744.85,748.42,592.48,691.53,...,0.11,0.19,0.07,0.06,-0.46,0.05,0.01,0.0,-1.42,44.42
2012,8823.05,4531.16,1843.74,1303.87,1202.66,979.37,713.75,730.81,571.12,682.31,...,0.1,0.19,0.07,0.06,-0.56,0.04,0.01,0.0,-1.52,43.63
2011,8568.09,4753.12,1695.97,1285.69,1162.67,974.12,679.1,717.17,561.73,682.88,...,0.09,0.18,0.06,0.05,-0.65,0.04,0.01,0.0,-1.44,41.62
2010,8138.34,4990.96,1670.29,773.92,1057.96,814.11,1498.84,754.58,506.63,836.28,...,0.08,0.22,0.06,0.05,-6.14,0.04,0.01,0.01,-1.39,57.0
2009,7382.89,4757.65,1573.51,1036.71,1003.19,726.06,1451.95,716.32,507.16,822.04,...,0.1,0.23,0.05,0.06,-6.24,0.04,0.01,0.01,-1.58,55.8
2008,6862.78,5161.51,1428.85,731.76,1061.73,844.09,1473.28,771.22,489.82,851.45,...,0.09,0.25,0.06,0.06,-6.21,0.04,0.01,0.01,-1.59,54.42
2007,6655.98,5338.52,1341.07,738.57,1128.57,822.52,1452.63,765.28,479.47,872.59,...,0.11,0.23,0.06,0.06,-6.22,0.04,0.01,0.01,-1.28,54.91
2006,6099.67,5254.87,1219.23,1152.83,1092.63,821.2,1435.1,795.83,446.5,842.42,...,0.11,0.26,0.06,0.07,-6.21,0.05,0.01,0.01,-1.18,54.29
2005,5486.88,5354.45,1142.71,829.93,1116.25,762.04,1431.63,783.85,406.93,851.37,...,0.13,0.26,0.06,0.07,-6.2,0.07,0.01,0.01,-1.27,52.88
2004,4789.59,5338.46,1092.16,1031.49,1113.6,765.36,1427.88,802.5,375.44,838.71,...,0.13,0.26,0.05,0.05,-6.3,0.07,0.01,0.01,-1.08,52.48
2003,4081.05,5258.12,1020.87,761.93,1118.29,753.44,1410.4,818.31,346.42,846.79,...,0.13,0.26,0.04,0.05,-6.25,0.07,0.01,0.01,-1.46,52.99
2002,3476.08,5192.68,992.51,1001.39,1109.5,723.05,1418.33,815.01,324.45,826.9,...,0.11,0.25,0.04,0.04,-6.21,0.08,0.01,0.01,-1.62,53.28
2001,3194.5,5347.79,958.86,631.16,1073.16,721.85,1420.6,829.38,306.74,808.34,...,0.12,0.24,0.04,0.03,-6.25,0.08,0.01,0.01,-1.47,52.07
2000,2994.73,5357.88,719.07,795.62,1107.18,1115.29,1351.16,778.97,320.34,580.65,...,0.1,0.24,0.03,0.04,-6.24,0.09,0.01,0.01,-1.69,15.62
1999,2799.84,5191.66,683.0,849.42,1090.14,1081.87,1339.1,782.33,306.0,560.63,...,0.1,0.25,0.03,0.03,-6.25,0.09,0.01,0.01,-1.74,16.46
1998,2882.75,5172.06,618.73,907.96,1055.5,1043.96,1329.24,812.12,272.42,552.1,...,0.1,0.25,0.02,0.03,-6.25,0.1,0.01,0.01,-1.76,15.98
1997,2779.27,5129.29,600.38,1484.56,1098.26,1052.5,1319.99,819.93,271.0,543.72,...,0.1,0.24,0.02,0.03,-6.24,0.1,0.01,0.01,-1.74,14.18
1996,2715.5,4864.46,555.6,772.38,1110.51,1159.83,1301.37,851.78,259.83,528.32,...,0.09,0.23,0.02,0.03,-6.33,0.1,0.01,0.01,-1.72,13.98
1995,2735.48,4708.31,519.98,909.21,1097.1,1190.39,1279.97,822.15,251.99,514.62,...,0.09,0.23,0.02,0.03,-6.38,0.11,0.01,0.01,-1.78,13.6
1994,2414.5,4654.52,466.79,881.31,1087.22,1238.41,1261.19,824.87,240.77,503.69,...,0.08,0.22,0.02,0.03,-6.42,0.11,0.01,0.01,-1.79,13.34
1993,2294.12,4581.76,431.31,869.88,1033.99,1447.33,1253.64,836.08,210.86,487.56,...,0.08,0.24,0.02,0.03,-6.44,0.11,0.01,0.01,-1.79,13.07
1992,2068.77,4461.62,409.09,855.3,1041.79,1630.98,1247.13,841.83,212.99,490.88,...,0.08,0.23,0.02,0.02,-6.41,0.12,0.01,0.01,-1.78,12.96
1991,1952.78,4389.5,386.17,846.23,1029.99,1766.89,1243.65,881.44,197.26,477.81,...,-0.03,0.23,0.02,0.02,-6.44,0.13,0.0,0.01,-1.81,12.44
1990,1823.96,4426.4,341.32,832.39,1016.89,1790.34,1236.73,904.38,158.83,483.99,...,0.0,0.22,0.02,0.02,-6.48,0.13,0.0,0.01,-1.81,12.67

In [13]:
from sqlalchemy import create_engine
from config import db_password
!pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in c:\users\dammy\anaconda3\envs\pythondata\envs\mlenv\lib\site-packages (2.9.5)

In [14]:
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/climate_changeDB"

In [15]:
engine = create_engine(db_string)

In [16]:
# new_emission_df.to_sql(name='emissions', con=engine)