In [1]:
import pandas as pd
from pathlib import Path

In [2]:
file_path = "./Resources/Global_temp.csv"
cleanglobal_temp_df = pd.read_csv(file_path, index_col=0)
cleanglobal_temp_df.head()

,AverageTemperature,AverageTemperatureUncertainty,State,Country,Date,Year
0,25.881,0.297,Acre,Brazil,1990-01-01,1990
1,26.115,0.687,Acre,Brazil,1990-02-01,1990
2,26.323,0.339,Acre,Brazil,1990-03-01,1990
3,25.866,0.634,Acre,Brazil,1990-04-01,1990
4,25.832,0.687,Acre,Brazil,1990-05-01,1990

In [3]:
# Recode the Columns
cleanglobal_temp_df = cleanglobal_temp_df.rename(columns={"AverageTemperature":"Avg_temp",
                                                  "AverageTemperatureUncertainty":"Avg_temp_Uncer",
                                                  "State":"State",
                                                  "Country":"Country"})
cleanglobal_temp_df.head()

   Avg_temp  Avg_temp_Uncer State Country        Date  Year
0    25.881           0.297  Acre  Brazil  1990-01-01  1990
1    26.115           0.687  Acre  Brazil  1990-02-01  1990
2    26.323           0.339  Acre  Brazil  1990-03-01  1990
3    25.866           0.634  Acre  Brazil  1990-04-01  1990
4    25.832           0.687  Acre  Brazil  1990-05-01  1990

In [4]:
from sqlalchemy import create_engine
from config import db_password
!pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in c:\users\dammy\anaconda3\envs\pythondata\envs\mlenv\lib\site-packages (2.9.5)

In [5]:
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/climate_changeDB"

In [6]:
engine = create_engine(db_string)

In [7]:
cleanglobal_temp_df.to_sql(name='cleanglobal_temp', con=engine)