In [4]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [6]:
file_path = "../Resources/city_temp.csv"
city_temp_df = pd.read_csv(file_path)
city_temp_df.head()

         Date  Avg_temp  Avg_tempUncer   City  Country Latitude Longitude
0  2010-01-01     -3.80           0.24  Århus  Denmark   57.05N    10.33E
1  2010-02-01     -2.69           0.27  Århus  Denmark   57.05N    10.33E
2  2010-03-01      2.43           0.43  Århus  Denmark   57.05N    10.33E
3  2010-04-01      7.12           0.23  Århus  Denmark   57.05N    10.33E
4  2010-05-01     10.66           0.31  Århus  Denmark   57.05N    10.33E

In [7]:
file_path = "../Resources/cleanWorld_temp.csv"
cleanWorld_temp_df = pd.read_csv(file_path)
cleanWorld_temp_df.head()

,Date,LandAvg_temp,LandAvg_temp_Uncer,LandMax_temp,LandMax_tempUncer,LandMin_temp,LandMin_tempUncer,LandOceanAvg_temp,LandOceanAvg_tempUncer
0,1900-01-01,1.46,0.28,7.19,0.47,-4.10,0.40,13.14,0.14
1,1900-02-01,3.10,0.42,9.18,0.60,-2.81,0.63,13.78,0.17
2,1900-03-01,5.49,0.26,11.38,0.33,-0.68,0.61,14.40,0.14
3,1900-04-01,8.22,0.29,13.97,0.34,2.13,0.39,15.17,0.15
4,1900-05-01,11.38,0.36,17.42,0.33,5.18,0.38,15.96,0.16

In [8]:
from sqlalchemy import create_engine

In [9]:
from config import db_password

In [10]:
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/climate_change_db"

In [11]:
engine = create_engine(db_string)

In [14]:
city_temp_df.to_sql(name='city_temp', con=engine)

In [15]:
cleanWorld_temp_df.to_sql(name='cleanWorld_temp', con=engine)