In [1]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [2]:
file_path = "../Resources/cleanUS_temp.csv"
cleanUS_temp_df = pd.read_csv(file_path)
cleanUS_temp_df.head()

         dt  Avg_temp  Avg_temp_Uncer    State        Country  id
0  1/1/1900     6.286           0.537  Alabama  United States NaN
1  2/1/1900     6.523           0.520  Alabama  United States NaN
2  3/1/1900    11.213           0.372  Alabama  United States NaN
3  4/1/1900    17.103           0.313  Alabama  United States NaN
4  5/1/1900    21.311           0.350  Alabama  United States NaN

In [3]:
file_path = "../Resources/cleanWorld_temp.csv"
cleanWorld_temp_df = pd.read_csv(file_path)
cleanWorld_temp_df.head()

,Date,LandAvg_temp,LandAvg_temp_Uncer,LandMax_temp,LandMax_tempUncer,LandMin_temp,LandMin_tempUncer,LandOceanAvg_temp,LandOceanAvg_tempUncer
0,1900-01-01,1.46,0.28,7.19,0.47,-4.10,0.40,13.14,0.14
1,1900-02-01,3.10,0.42,9.18,0.60,-2.81,0.63,13.78,0.17
2,1900-03-01,5.49,0.26,11.38,0.33,-0.68,0.61,14.40,0.14
3,1900-04-01,8.22,0.29,13.97,0.34,2.13,0.39,15.17,0.15
4,1900-05-01,11.38,0.36,17.42,0.33,5.18,0.38,15.96,0.16

In [13]:
file_path = "../Resources/Climate_change.csv"
Climate_change_df = pd.read_csv(file_path)
Climate_change_df.head()

C:\Users\feven\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3457: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Date,LandAvg_temp,LandAvg_temp_Uncer,LandMax_temp,LandMax_tempUncer,LandMin_temp,LandMin_tempUncer,LandOceanAvg_temp,LandOceanAvg_tempUncer,Avg_temp,Avg_temp_Uncer,State,Country
0,1/1/1900,1.46,0.28,7.19,0.47,-4.10,0.40,13.14,0.14,6.286,0.537,Alabama,United States
1,2/1/1900,3.10,0.42,9.18,0.60,-2.81,0.63,13.78,0.17,6.523,0.520,Alabama,United States
2,3/1/1900,5.49,0.26,11.38,0.33,-0.68,0.61,14.40,0.14,11.213,0.372,Alabama,United States
3,4/1/1900,8.22,0.29,13.97,0.34,2.13,0.39,15.17,0.15,17.103,0.313,Alabama,United States
4,5/1/1900,11.38,0.36,17.42,0.33,5.18,0.38,15.96,0.16,21.311,0.350,Alabama,United States

In [14]:
from sqlalchemy import create_engine

In [15]:
from config import db_password

In [16]:
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/climate_change_db"

In [17]:
engine = create_engine(db_string)

In [18]:
cleanUS_temp_df.to_sql(name='cleanUS_temp', con=engine)

ValueError: Table 'cleanUS_temp' already exists.

In [19]:
cleanWorld_temp_df.to_sql(name='cleanWorld_temp', con=engine)

ValueError: Table 'cleanWorld_temp' already exists.

In [20]:
Climate_change_df.to_sql(name='Climate_change', con=engine)