In [1]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [2]:
file_path = "./Resources/cleanUS_temp.csv"
cleanUS_temp_df = pd.read_csv(file_path)
cleanUS_temp_df.head()

         dt  Avg_temp  Avg_temp_Uncer    State        Country  id
0  1/1/1900     6.286           0.537  Alabama  United States NaN
1  2/1/1900     6.523           0.520  Alabama  United States NaN
2  3/1/1900    11.213           0.372  Alabama  United States NaN
3  4/1/1900    17.103           0.313  Alabama  United States NaN
4  5/1/1900    21.311           0.350  Alabama  United States NaN

In [3]:
from sqlalchemy import create_engine

In [4]:
from config import db_password

In [5]:
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/clean_climate_db"

In [6]:
engine = create_engine(db_string)

In [7]:
cleanUS_temp_df.to_sql(name='cleanUS_temp', con=engine)

ValueError: Table 'cleanUS_temp' already exists.